<div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Title Type</th>
        <th>Release Date</th>
        <th>Definition(s)</th>
        <th>Format(s)</th>
        <th>Digital Format(s)</th>
        <th>Streaming App(s)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.director %></td>
      <td><%= movie.title_type %></td>
      <td><%= movie.release_date %></td>
      <td>
        <% movie.definitions.each do |definition| %>
        <%= definition.name %>
      <% end %>
      </td>
      <td>
        <% movie.formats.each do |format| %>
          <%= format.format %><br>
        <% end %> 
      </td>
      <td>
        <% movie.digital_formats.each do |digital_format| %>
        <%= digital_format.name %><br>
      <% end %>
      </td>
      
      <td>
        <% movie.apps.each do |app| %>
        <%= app.name %><br>
      <% end %>
      </td>
      <td></td>
      <td><%= link_to "Edit", edit_movie_path(movie) %></td>
    </tr>
    <tr></tr>
    <% end %>
    </tbody>
  </table>
  <hr>
  <%= link_to "Add movie", new_movie_path %> 
</div>