<%= render "allmovieslink" %>

<h1><%= @movie.title %></h1>
<p><%= @movie.release_date %></p>
<p><%= @movie.title_type %></p>
<p><%= @movie.director %></p>

<%= render "editlink" %>
<%= render "deletelink" %>